<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MVCDatabaseEntities" connectionString="Data Source=DESKTOP-1P3VN9V\SQLEXPRESS;Initial Catalog=MVCDatabase;Integrated Security=True;Multiple Active Result Sets=True;"providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>